.movie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
  }

  .movie__director {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }

  .movie__title {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }

  .movie__year {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #bdc316;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }
